
.boxy {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

header, .second, footer{
    background-color: #1F2937;
}

.down {
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    gap: 25px;
}

li {
    list-style-type: none;
}

header {
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
}

.light {
    font-size: 18px;
    color: #E5E7EB;
}

#awesome {
    color: white;
    font-size: 48px;
    font-weight: extra-bold;
}

.left {
    width: 50%;
}

.right {
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    margin: 0;
    padding: 0
}

#subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.second {
    padding-bottom: 100px;
    height: fit-content;
}

#placeholder {
    background-color: gray;
    padding: 80px 180px;
}

.info {
 font-size: 36px;
 font-weight: extra-bold;
 color: #1F2937;
 justify-content: center;
 align-items: center;
}

.fourth {
    background-color: #E5E7EB;
}

#quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

#source {
    text-align: right;
    font-weight: bold;
}

container {
    background-color: #3882F6 ;
    width: 60%;
    border-radius: 5px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sign {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: none;
}

img {
    height: 145px;
    border: solid  #3882F6;
    border-radius: 10px;
}

img, .subtext {
    width: 145px;
}

.third, .fifth {
    background-color: white;
}

.pics {
    justify-content: space-around;
}

.subtext {
    text-align: center;
}

.third {
    padding-bottom: 100px;
}

.fourth {
    padding: 100px 350px;
}

.fifth {
    height: 300px;
    justify-content: center;
    align-items: center;
}

.bigger {
    font-size: 20px;
    font-weight: bold;
}

.callit {
    width: 60%;
}

.again {
    border-color: white;
}

footer p {
    color: white;
    text-align: center;
    width: 100%;
}